
//<--0-->// Default Color //<--0-->//

:root {
    --body: #ffffff;
    --white: #fff;
    --theme: #ffaa1c;
    --black-color:#080f23;
    --pra: #888;
    --footer: #181818;
    --text: #666666;
    --ratting: #FF8000;
    --black:#000000;
    --border-color:#f0f0f0;
    --background:#f8f7f0;
    
}

//<--0-->// Default Color //<--0-->//